/* .signup-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

.signup-container h2 {
    margin-bottom: 20px;
}

.signup-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 20px;
}

.signup-container button {
    width: 95%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.signup-container button:hover {
    background-color:blue;
} */
